body {
	height: 100vh;
	width: 100vw;
	background-image: url("/img/kenrick-mills-1h2Pg97SXfA-unsplash.jpg");
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	height: auto;
	width: 300px;
	margin: 15px;
	border-radius: 15px;
	background-color: #cfc7c6;
	border: .2px solid rgb(2, 0, 0);
	font-family: 'Heebo', sans-serif;
	text-align: center;
	position: relative;
	justify-self: center;
	border: 1px solid rgba(255, 255, 255, 0.349);
	border-bottom: none;
	backdrop-filter: blur(5px);
	background: radial-gradient(at top, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.25));
}

p {
	font-size: 2em;
}
